<section class="about-index"> 
  <header class="about-header">
  <h1>About us</h1>
  </header>

  <div class="about-text">
    <p>Hello visitors, we are a store specialized with plants where you can get a ton of information on your favorites plants! We are selling plants that will bring joy for you and your loved ones.</p>
  </div>
</section>
